html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #838282;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}

.mono {
  font-family: "Roboto Mono", monospace;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.EmailButton {
  position: fixed;
  bottom: 1vh;
  right: 0.5vw;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 999;
  border-radius: 10px;
  /* Ensure it's above other content */
}

.something {
  height: 140vh;
  width: 100vw;
  background-color: #000000;
}

.pdf {
  height: 100vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outsideEdu {
  background-color: #000000;
}

.outsideSkills {
  background-color: #000000;
}

.outsideExp {
  background-color: #000000;
}

.education {
  max-width: 30%;
  background-color: #000000;
  color: #ffffff;
  padding-top: 10vh;
}

.skills {
  max-width: 30%;
  background-color: #000000;
  color: #ffffff;
  padding-top: 10vh;
}

.experience {
  max-width: 30%;
  background-color: #000000;
  color: #ffffff;
  padding-top: 10vh;
}

@media (max-width: 650px) {
  .education {
    max-width: 90%;
    background-color: #000000;
    color: #ffffff;
    padding-top: 5vh;
  }

  .skills {
    max-width: 90%;
    background-color: #000000;
    color: #ffffff;
    padding-top: 5vh;
  }

  .experience {
    max-width: 90%;
    background-color: #000000;
    color: #ffffff;
    padding-top: 5vh;
  }
}

.ccas {
  background-color: #000000;
  color: #ffffff;
  padding-top: 5vh;
}

.skillname {
  padding-top: 3vh;
}

.highlight {
  /* background-image: linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc); */
  background-color: #7a7a7a;
  color: #ffffff;
  border-radius: 6px;
  padding: 3px 6px;
  margin: 0.25rem;
  display: inline-flex;
}

.viewer {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 650px) {
  .viewer {
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
  }
}
.overlay {
  z-index: 999;
}

.footer {
  background-color: #000000;
  height: 100%;
}

.footerText {
  color: #ffffff!important;
}

.footerTextLast {
  color: #ffffff!important;
}

.footerText:hover {
  color: #9b9b9b!important;
}

.footerlogo {
  height: 30px;
  width: 30px;
}

/* SCROLL CSS */

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* SCROLL CSS END */
